name: "Publish Package"

on:
  release:
    types: [created]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install System Deps
        run: sudo apt update && sudo apt install libc6

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16.x

      - name: Install Dependencies
        run: yarn

      - name: Test
        run: yarn test

  test-build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Dependencies
        run: yarn

      - name: Test
        run: yarn build

  release:
    runs-on: ubuntu-latest
    needs: [test-build, test]

    steps:
      # Checkout the exact commit tagged on the release.
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.release.target_commitish }}

      - name: Validate and extract release information
        id: release
        uses: manovotny/github-releases-for-automated-package-publishing-action@v1.0.0

      - name: Set node version
        uses: actions/setup-node@v2
        with:
          always-auth: true
          node-version: "12.x"
          registry-url: "https://registry.npmjs.org"

      - name: install deps
        run: yarn

      - name: build
        run: yarn build

      - name: Publish tagged version
        if: steps.release.outputs.tag != ''
        run: yarn publish --new-version ${{ steps.release.outputs.version }} --tag ${{ steps.release.outputs.tag }} --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Publish version
        if: steps.release.outputs.tag == ''
        run: yarn publish --new-version ${{ steps.release.outputs.version }} --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
